body {
  margin: 0;
  padding: 0;

}

.searchBarContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.searchBarField {
  width: 200px;
  height: 27px; 
  border: 0.5px solid grey;
  padding: 8px;
  font-size: large;
}